@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --color-bg: #0a0a0a;
  --color-white: #f2f2f2;
  --color-muted: #7b7b80;
  --color-accent: #f48529;
  --color-border: #29292c;

  --color-text: var(--color-white);

  --sl-color-bg: var(--color-bg);
  --sl-color-bg-sidebar: var(--color-bg);
  --sl-color-bg-nav: var(--color-bg);

  --sl-font: var(--font-patika), var(--font-ibm-plex-sc);
}

header a {
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

summary span span {
  color: var(--color-text);
}

summary {
  padding: 6px 12px;
}

.sl-sidebar * {
  font-weight: 900;
  background-color: red !important;
}

a {
  text-decoration: none;
}

.starlight-header .theme-toggle {
  display: none !important;
}

.content-panel,
#starlight__sidebar,
.right-sidebar {
  border: none;
}

header {
  height: auto;
  padding: 0;
  border: none;
}

#starlight__sidebar {
  padding: 0;
  border-right: 1px solid var(--color-border);
}

.sidebar-content {
  padding: 0;
}

.right-sidebar {
  border-left: 1px solid var(--color-border);
}

p,
li {
  color: var(--color-text);
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

p {
  font-size: 16px;
  line-height: 150%;
}

.main-pane {
  padding: 20px 36px;
}

.sl-heading-wrapper {
  margin-top: 24px;
}

.content-panel {
  padding-top: 0;
  padding-bottom: 24px;
}

footer {
  margin-top: 32px;
}

footer .meta {
  display: none;
}