@font-face {
  font-family: "Orbix";
  src: url("./orbix-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patika";
  src: url("./patika/e17f8cc679d8f82095de5f03adf7b208.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patika";
  src: url("./patika/cf6ae433b0dc32839344adf58cec551a.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patika";
  src: url("./patika/1fc4a1b6e4aacb34f29e9613f401ba3b.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patika";
  src: url("./patika/1908017421e48c9de32d584482fd6da0.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patika";
  src: url("./patika/3f882c9bf32003261ac760d2a78f312c.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
