---
import PlaybookLogo from "../../assets/images/logo/playbook.svg";
---

<div
  class="w-full px-4 md:px-8 flex justify-between items-center h-15 bg-[#0E0E0E] border-b border-(--color-border)"
>
  <a href="/" class="flex items-center">
    <PlaybookLogo height={15} />
  </a>
</div>
