---
import { Icon } from "@astrojs/starlight/components";

const { pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination ?? {};
---

{
  (prev || next) && (
    <nav
      class:list={[
        "flex flex-row gap-4",
        prev && next && "justify-between",
        !prev && next && "justify-end",
        prev && !next && "justify-start",
      ]}
    >
      {prev && (
        <a href={prev.href} rel="prev" class="text-(--color-text) w-60">
          <div class="p-3 border border-(--color-border) rounded-xl flex flex-row items-center gap-1.5">
            <Icon name="left-caret" label="Previous Page" size="24px" />
            <div class="flex-1 flex flex-col">
              <span class="text-[14px] leading-5">Previous</span>
              <span class="text-[18px] leading-6 font-medium">
                {prev.label}
              </span>
            </div>
          </div>
        </a>
      )}

      {next && (
        <a href={next.href} rel="next" class="text-(--color-text) w-60">
          <div class="p-3 border border-(--color-border) rounded-xl flex flex-row-reverse items-center gap-1.5">
            <Icon name="right-caret" label="Next Page" size="24px" />
            <div class="flex-1 flex flex-col text-right">
              <span class="text-[14px] leading-5">Next</span>
              <span class="text-[18px] leading-6 font-medium">
                {next.label}
              </span>
            </div>
          </div>
        </a>
      )}
    </nav>
  )
}
