@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./tokens.css";
@import "./base.css";
@import "./starlight.css";
@import "./editor.css";
